<div class="app-container">
  <div class="left-container">
    <app-left-side-container>
      <app-menu-header></app-menu-header>
      <app-menu [menuList]="menuList"></app-menu>
    </app-left-side-container>
  </div>
<!--  <div class="main-container">-->
<!--    <spro-cdk-header-container>-->
<!--      <spro-cdk-header-title></spro-cdk-header-title>-->
<!--      <spro-cdk-header-user-info class="right-side"></spro-cdk-header-user-info>-->
<!--    </spro-cdk-header-container>-->
<!--    <div class="page-container">-->
<!--      <spro-cdk-nav-container></spro-cdk-nav-container>-->
<!--      <spro-cdk-content-container>-->
<!--        <router-outlet></router-outlet>-->
<!--      </spro-cdk-content-container>-->
<!--    </div>-->
<!--  </div>-->
</div>
<!--<spro-cdk-right-side-container></app-right-side-container>-->

<!--        <spro-cdk-footer-container></spro-cdk-footer-container>-->
