.darkTheme {
  &.left-side-container {
    background: var(--background-dark-theme);
  }
}
.lightTheme {
}

.left-side-container {
  display: block;
  transition: 200ms cubic-bezier(0.86, 0, 0.07, 1);
  position: relative;
  z-index: 4;
  height: 100%;
  box-shadow: -1px -1px 16px rgba(0, 0, 0, 0.02), 4px 4px 16px rgba(0, 0, 0, 0.12);
}
.left-side-container.open-over,
.left-side-container.open-with-shift {
  width: 305px;
}

.left-side-container.open-collapse {
  width: 56px;
}

.left-side-container.close {
  width: 0;
  overflow: hidden;
}
