/* You can add global styles to this file, and also import other style files */

//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "styles/reset";
@import "styles/theme";
@import "styles/fonts";
@import "styles/colors";
@import "styles/common";
@import "assets/icons";

:root {
  --transition: 200ms cubic-bezier(0.86, 0, 0.07, 1);
}
html,
body {
  height: 100%;
}

html {
  font-size: 14px;
}
body {
  position: relative;
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.app-container {
  min-width: 1280px;
  transition: 0.2s;
  display: flex;
  overflow: hidden;

  &.hide {
    opacity: 0;
  }

  .main-container {
    flex: 1 1 auto;
    position: relative;
    overflow-x: auto;

    .page-container {
      flex: 1 1 auto;
      overflow-y: scroll;
      // height: calc(100vh - 56px);
      /*hide scroll in chrome and ff*/
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      //spro-cdk-header-container {
      //  --header-height: 56px;
      //}
    }
  }



}

.left-container {
  transition: var(--transition);
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}
.wrap-component {
  padding: 16px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-color: var(--black-12);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 16px;

  &.color-cyan p {
    color: var(--cyan);
  }
  &.border-red {
    border: 1px solid var(--red);
  }
  &.border-gray {
    border: 1px solid var(--black-12);
  }
  &.border-cyan {
    border: 1px solid var(--cyan);
  }
  &.background-orange {
    p {
      color: var(--black);
    }
  }
  &.background-cyan,
  &.background-red {
    p {
      color: #fff;
    }
  }
  &.background-gray {
    background: var(--black-04);
    border: none;
  }
}

textarea {
  resize: none;
}
//
//.badge {
//  position: absolute;
//  right: -9px;
//  top: -9px;
//  border-radius: 10px;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  color: #fff !important;
//  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px rgb(0 0 0 / 12%);
//  padding: 0 5px;
//  background: var(--orange);
//}
//
//.custom-badge-wrap {
//  border-radius: 100px;
//  display: inline-flex;
//  justify-content: center;
//  align-items: center;
//  padding: 4px 8px;
//  width: fit-content;
//
//  &.orange {
//    background: rgba(255, 167, 38, 0.08);
//    p {
//      color: var(--orange);
//    }
//  }
//  &.red {
//    background: rgba(229, 57, 53, 0.08);
//    p {
//      color: var(--red);
//    }
//  }
//  &.green {
//    background: rgba(67, 160, 71, 0.08);
//    p {
//      color: var(--green);
//    }
//  }
//}
